<!-- <app-crud 
[items]="filteredCups" 
[columns]="colums" 
[canDelete]="false" 
[canExport]="true" 
[canSeeDetail]="true"
(export)="exportCups()" 
(detail)="openDetail($event)"
(search)="searchCups($event)" >
</app-crud> -->

<!-- <p-table [value]="cups">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.id }}</td>
        <td>{{ rowData.nombre }}</td>
        <td>{{ rowData.codigo }}</td>
      </tr>
    </ng-template>
  </p-table> -->
  